@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Mulish', sans-serif;
}
body {
  background-color: #FBFFFA;
  /* font-family: 'Mulish', sans-serif; */
}

.hero-lgreen {
  color: #04B45C;
}


.bg-grad1{
  background: linear-gradient(90deg, #00416A 0%, #E4E5E6 100%);
}

.bg-grad2{
  background: linear-gradient(90deg, #649173 0%, #DBD5A4 100%);

}

.bg-grad3{
  background: linear-gradient(90deg, #BBD2C5 0%, #536976 100%);

}